body {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.btn-group-wrap {
  text-align: center;
  margin-top: 30px;
}

#result-header { color: lightgray; }
